# Ignore development files
*.pyc
*.pyo
*.pyd
__pycache__

# Ignore static files
staticfiles/
media/

# Ignore database files
db.sqlite3

# Ignore log files
logs/

# Ignore environment files
.env

# Ignore Docker-related files
.dockerignore
Dockerfile
docker-compose.yml