.tabContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tabButtons {
  display: flex;
  border-bottom: 2px solid var(--card-color); /* Bottom border to define tab section */
  margin-bottom: 20px; /* Space between tabs and content */
  
}

.tabButtons::after {
  border-bottom: 2px solid var(--highlight-color);
}

.tabButton {
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  color: var(--text-color);
  position: relative;
  transition: color 0.3s ease-in-out;
}

.tabButton::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 50%;
  background-color: var(--highlight-color);
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.tabButton:hover {
  padding: 10px 20px;
  border: none;
  background-color: var(--card-color);
  cursor: pointer;
  font-size: 16px;
  outline: none;
  color: var(--highlight-color);
  position: relative;
  transition: color 0.3s ease-in-out;
  
}

.tabButton.active {
  color: var(--highlight-color);
  background-color: var(--card-color);
}

.tabButton.active::after {
  width: 100%;
  left: 0;
}

.tabContent {
  margin-top: 20px;
  transition: opacity 0.3s ease-in-out;
}

.tabContent.hidden {
  opacity: 0;
  pointer-events: none;
}

.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Error {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}